<tr>
  <td >
    <table style="width:100%;">
        <tr>
            <td style="vertical-align: middle; text-align:left; font-family:Helvetica,Arial; color:#2C3E50; font-size:17px;">
              <p>
                <img src="https://gallery.mailchimp.com/9ff9178b2b8339402312b19c1/images/cf883ff7-d0c9-49f8-aba1-ae8263835a95.png" style="float:left; padding-right:20px; width:35%; height:auto;" alt="Password Info">

                <b>Hey, {f_name}!</b><br><br>
                  You requested a password reset for your {store_name} account.<br>
                  To recover your password, click here:  
                  <a href="{$href}/account/recover/{$guid}">{$href}/account/recover/{$guid}</a><br>
              </p>
          </td>
        </tr>
    </table>
  </td>
</tr>
