<tr>
    <td>
      <table style="width:100%;">
          <tr>
              <td style="vertical-align: middle; text-align:left; font-family:Helvetica,Arial; color:#2C3E50; font-size:17px;">
                <p>
                  <img src="https://gallery.mailchimp.com/9ff9178b2b8339402312b19c1/images/cf883ff7-d0c9-49f8-aba1-ae8263835a95.png" style="float:left; padding-right:20px; width:35%; height:auto;" alt="Password Info">
                  <b>Hey, {f_name}!</b><br><br>You just requested your login credentials for {store_name} -- so here you go!<br><br>
                  <b>Login:</b> {login} <br>
                  <b>Password:</b> {password}
                </p>
            </td>
          </tr>
          <tr>
            <td style="vertical-align: middle; text-align:left; font-family:Helvetica,Arial; color:#2C3E50; font-size:15px;">
              Now you can store payment information, save quotes, easily check your order status -- and MUCH more! <a href="https://www.dkhardware.com/Account/Login/?returnUrl=%2FAccount%2FDashboard%2F" target="_blank">
              Access your account</a> anytime <a href="https://www.dkhardware.com/Account/Login/?returnUrl=%2FAccount%2FDashboard%2F" target="_blank">here</a>.
            </td>
          </tr>
      </table>
    </td>
</tr>
