<tr>
  <td >
    <table style="width:100%;">
        <tr>
            <td style="vertical-align: middle; text-align:left; font-family:Helvetica,Arial; color:#2C3E50; font-size:17px;">
              <p>
                <img src="https://gallery.mailchimp.com/9ff9178b2b8339402312b19c1/images/f35ca4f8-b5f0-4906-845d-04e53a532b1e.png"  style="float:left; padding-right:20px; width:35%; height:auto;" alt="Billing Info" />
                <b>Hey, {f_name}!</b><br><br>
              When we tried to authorize your credit card for {order_grand_total}, the charge was <b>declined</b>.<br>
                <br>We <strong>won&#39;t be able to ship your order until we speak to you</strong>. Please give us a call at <a href="tel:{rep_phone}" target="_blank" style="text-decoration:none;">{rep_phone}</a>,
                and reference <b>Order#</b> {order_ID}.
              </p>
          </td>
        </tr>
        <tr>
          <td style="vertical-align: middle; text-align:left; font-family:Helvetica,Arial; color:#2C3E50; font-size:15px;">
              <span style="font-size:15px">Get in touch ASAP so we can sort this out and get your order shipped --
              <span style="background-color:#FFFF00">please call <a href="tel:{rep_phone}" target="_blank" style="text-decoration:none;">{rep_phone}</a> right away! </span></span>
          </td>
        </tr>
    </table>
  </td>
</tr>
