<tr><!--Body Start-->
  <td>
    <table style="width:100%;">
        <tr>
          <td style="vertical-align: middle; text-align:left; font-family:Helvetica,Arial; color:#2C3E50; font-size:17px;">
              <p>
                <img src="https://gallery.mailchimp.com/9ff9178b2b8339402312b19c1/images/6ff8356b-a74b-4f6c-8a84-f9da0b92304c.png"  style="float:left; padding-right:20px;width:35%; height:auto" alt="PayPal" />
                <b>Hi {f_name},</b><br>
                We need to speak to you regarding your <b>Order# </b>{order_ID} placed on {order_date}.<br> We haven&#39;t yet received your Paypal payment.<br>
                <strong><span style="background-color:#FFFF00">We can&#39;t ship your order until we receive payment.</span></strong><br><br>
                Please confirm your payment is complete -- visit <a href="http://www.paypal.com" target="_blank">Paypal</a> for confirmation:
                <a href="http://www.paypal.com" target="_blank">http://www.paypal.com</a><br><br><br>
                Feel free to call us at  if you have any questions or concerns.
              </p>
          </td>
        </tr>
    </table>
  </td>
</tr>
