<tr>
  <td>
    <table style="width:100%;">
      <tr>
        <td style="vertical-align: middle; text-align:left; font-family:Helvetica,Arial; color:#2C3E50; font-size:17px;">
            <p>
              <img src="https://gallery.mailchimp.com/9ff9178b2b8339402312b19c1/images/5db26daf-b8a8-46d8-a9f4-a64425db6907.jpg"  style="float:left; padding-right:20px; width:35%; height:auto;" alt="Email Info"  />
              <b>Hey!</b>
              <br>
              <br>
              Our mutual friend {from_name} was poking around <a href="http://www.dkhardware.com/" style="text-decoration:none">DK Hardware</a> and found something you might like...<br><br>
              Check it out!<br>
            </p>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td style="vertical-align: middle; text-align:left; font-family:Helvetica,Arial; color:#2C3E50; font-size:15px;">
    <h2>{from_name} recomends:</h2><br>
    <table >
      <tr>
        <td style="padding:10px">
          <img src="http://<store_url>/tools/image-resize.aspx?image={product_image}&width=600" /><br>
            {product_description}
        </td>
      </tr>
      <tr>
        <td style="padding:10px">
          <b>{from_name}</b> also said:<br>
          {message}
        </td>
      </tr>
      <tr>
        <td style="padding:10px">
          Best,<br>
          <b>Team DK</b><br>
          <a href="http://www.dkhardware.com/" style="text-decoration:none">www.dkhardware.com</a><br>
          <a href="tel:1-877-509-8040" style="text-decoration: none;">1-877-509-8040</a>
        </td>
      </tr>
    </table>
  </td>
</tr>
