<tr>
    <td>
      <!--Body Start-->
      <table style="width:100%;">
          <tbody><tr>
              <td style="vertical-align: middle; text-align:left; font-family:Helvetica,Arial; color:#2C3E50; font-size:17px;">
                <p>
                  <img src="https://gallery.mailchimp.com/9ff9178b2b8339402312b19c1/images/be635239-130a-402b-804f-bd7b9c807c74.jpg" style="float:left; padding-right:20px; width:35%; height:auto;" alt="All Done! ">
                  <b>Welcome, {f_name}!</b><br><br>Thanks for your order on <a href="http://www.dkhardware.com" target="_blank">DK Hardware</a>. You chose the Guest checkout option, so we went ahead and created a special account <b>just for you.</b><br><br> Here are your credentials:<br><br>
                  <b>Login:</b> {login} <br>
                  <b>Password:</b> {password}
                </p>
            </td>
          </tr>
          <tr>
            <td style="vertical-align: middle; text-align:left; font-family:Helvetica,Arial; color:#2C3E50; font-size:15px;">
              Now you can store payment information, save quotes, easily check your order status -- and MUCH more! <a href="https://www.dkhardware.com/Account/Login/?returnUrl=%2FAccount%2FDashboard%2F" target="_blank">
              Access your account</a> anytime <a href="https://www.dkhardware.com/Account/Login/?returnUrl=%2FAccount%2FDashboard%2F" target="_blank">here</a>.
            </td>
          </tr>
      </tbody></table>
    </td>
