<tr>
  <td >
    <table style="width:100%;">
      <tr>
        <td style="vertical-align: middle; text-align:left; font-family:Helvetica,Arial; color:#2C3E50; font-size:17px;">
            <p>
              <img src="https://gallery.mailchimp.com/9ff9178b2b8339402312b19c1/images/ad6643df-3891-470b-894b-540961ab7479.png"  style="float:left; padding-right:20px; width:35%; height:auto;" alt="Contact request" />
              <b>Hey, {f_name}!</b><br><br>
              Please contact us at <a href="tel:{rep_phone}" style="text-decoration:none;">{rep_phone}</a> concerning <b>Order# </b>{order_ID} placed on {order_date}.<br>
              <br>We <b>cannot ship your order</b> until we hear from you, so don't be shy -- please call right away!<br><br>
              Thanks for your business!
            </p>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: middle; text-align:left; font-family:Helvetica,Arial; color:#2C3E50; font-size:15px;">
            <span style="font-size:15px">We need to hear from you, so <b>please call at your earliest convenience: <a href="tel:+1(877)509-8040" style="text-decoration:none;">(877) 509-8040</a></b>.</span>
        </td>
      </tr>
    </table>
  </td>
</tr>
