<tr>
  <td>
    <table style="width:100%;">
      <tr>
        <td style="vertical-align: middle; text-align:left; font-family:Helvetica,Arial; color:#2C3E50; font-size:17px;">
            <p>
              <img src="https://gallery.mailchimp.com/9ff9178b2b8339402312b19c1/images/997750fd-1ce7-4c30-a978-6a877510125f.jpg"  style="float:left; padding-right:20px; width:35%; height:auto;" alt="Order Recieved!"  />
              <b>Hi {f_name},</b><br />
              <br>
              <br>
              We&#39;re glad you found what you were looking for! Complete details for <b>Order# </b>{order_ID} are below.<br>
              <br>
              Soon as we get your shipment packed up, we&#39;ll send tracking information in a separate email.
          </p>
        </td>
      </tr>
    </table>
  </td>
</tr>
