<tr>
  <td>
    <table style="width:100%;">
      <tr>
        <td style="vertical-align: middle; text-align:left; font-family:Helvetica,Arial; color:#2C3E50; font-size:17px;">
            <p>
              <img src="https://gallery.mailchimp.com/9ff9178b2b8339402312b19c1/images/b1ad8a4e-0fb1-41e6-b26c-9f54a1fc6a01.png"  style="float:left; padding-right:20px; width:35%; height:auto;" alt="Pickup instruction"  />
              <b>Hi {f_name},</b>
              <br>
              <br>
              First, I want to thank you for your business!!!<br>
              <br>
              Your order is ready for pickup -- please see below for the address and instructions.<br><br>
              Best,<br>
              {rep_name}<br>
              <a hef="tel:{rep_phone}" style="text-decoration:none;">{rep_phone}</a>
          </p>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td style="padding:20px">
    &nbsp;
  </td>
</tr>
<tr>
  <td style="vertical-align: middle; text-align:center; font-family:Helvetica,Arial; color:#2C3E50;">
    <h2>Instructions for picking up your order</h2>
  </td>
</tr>
<tr>
  <td style="padding:20px">
    &nbsp;
  </td>
</tr>
<tr>
  <td style="vertical-align: middle; text-align:left; font-family:Helvetica,Arial; color:#2C3E50; font-size:15px;">
    Your pickup <b>Order#</b> <br><br>
    (**** +++++ PUT PICKUP ORDER# HERE +++++++ ***** )<br><br>
    The representative at the pickup desk will ask for this order number.<br><br>
    Here's the address for the warehouse where your order's waiting:<br><br><br>
    ************** ADDRESS GOES HERE ****************<br><br><br>
    <span style="font-weight:bold; background-color:#FFFF00; padding:3px;">Important</span>: In the event you need to make any changes to you order please call us at <a hef="tel:{rep_phone}" style="text-decoration:none;">{rep_phone}</a>.
    Our warehouse staff <b>cannot make any changes to your order</b>.
  </td>
</tr>
