<tr>
  <td >
    <table style="width:100%;">
        <tr>
            <td style="vertical-align: middle; text-align:left; font-family:Helvetica,Arial; color:#2C3E50; font-size:17px;">
              <p>
               <img src="https://gallery.mailchimp.com/9ff9178b2b8339402312b19c1/images/ccd797b0-b4f2-449a-9b38-142dc5dffd3d.png"  style="float:left; padding-right:20px; width:35%; height:auto;" alt="Shipping Info" />
                <b>Hey, {f_name}!</b><br><br>
                <br>
                Just a heads-up to let you know our warehouse staff got your order picked, packed, and <b>shipped</b>.<br><br>
                As of {date_shipped}, your order is on its way via  {full_name}<br><br>
                Tracking: {tracking_list}
              </p>
          </td>
        </tr>
    </table>
  </td>
</tr>
