<tr>
  <td >
    <table style="width:100%;">
        <tr>
            <td style="vertical-align: middle; text-align:left; font-family:Helvetica,Arial; color:#2C3E50; font-size:17px;">
              <p>
               <img src="https://gallery.mailchimp.com/9ff9178b2b8339402312b19c1/images/c8290b37-2453-4ad8-89af-f61791d799dc.png"  style="float:left; padding-right:20px; width:35%; height:auto;" alt="FedEx" />
                <b>Hey, {f_name}!</b><br><br>
                <br>
                Just a heads-up to let you know our warehouse staff got your order picked, packed, and <b>shipped</b>.<br><br>
                As of {date_shipped}, your order is on its way via FedEx {order_shipping_type}.<br><br>
                <b>Tracking online:</b> <a href="http://www.fedex.com/Tracking?action=track&tracknumbers={tracking_number}">{tracking_number}</a>
              </p>
          </td>
        </tr>
    </table>
  </td>
</tr>
