<tr>
  <td >
    <table style="width:100%;">
        <tr>
            <td style="vertical-align: middle; text-align:left; font-family:Helvetica,Arial; color:#2C3E50; font-size:17px;">
              <p>
               <img src="https://gallery.mailchimp.com/9ff9178b2b8339402312b19c1/images/ad6643df-3891-470b-894b-540961ab7479.png"  style="float:left; padding-right:20px; width:35%; height:auto;" alt="Shipping Info" />
                <b>Hey,{f_name}!</b><br><br>
                <br>
                Can you call us at <a href="tel:{rep_phone}" style="text-decoration:none;">{rep_phone}</a> concerning <b>Order ID</b> {order_ID} placed on {order_date}?<br><br>
                There's an issue with your <b>shipping address</b> we need your help to resolve.<br><br>
                We <b>can't ship your order</b> until we hear from you, so don't be shy -- give us a call ASAP!
              </p>
          </td>
        </tr>
        <tr>
          <td style="padding:20px;">
            &nbsp;
          </td>
        </tr>
        <tr>
          <td style="vertical-align: middle; text-align:center; font-family:Helvetica,Arial; color:#3D9B18; font-size:15px;">
            <h2>Order Details</h2>
          </td>
        </tr>
    </table>
  </td>
</tr>
