<tr>
  <td >
    <table style="width:100%;">
        <tr>
            <td style="vertical-align: middle; text-align:left; font-family:Helvetica,Arial; color:#2C3E50; font-size:17px;">
              <p>
               <img src="https://gallery.mailchimp.com/9ff9178b2b8339402312b19c1/images/fe4a0535-649e-4faa-b76b-889a0dea8c4e.png"  style="float:left; padding-right:20px; width:35%; height:auto;" alt="DHL" />
                <b>Hey, {f_name}!</b><br><br>
                <br>
                Just a heads-up to let you know our warehouse staff got your order picked, packed, and <b>shipped</b>.<br><br>
                As of {date_shipped}, your order is on its way via DHL  {order_shipping_type}.<br><br>
                <b>Tracking online:</b> <a href="http://track.dhl-usa.com/TrackByNbr.asp?ShipmentNumber={tracking_number}">{tracking_number}</a>
              </p>
          </td>
        </tr>
    </table>
  </td>
</tr>
