<tr>
  <td >
    <table style="width:100%;">
        <tr>
            <td style="vertical-align: middle; text-align:left; font-family:Helvetica,Arial; color:#2C3E50; font-size:17px;">
              <p>
               <img src="https://gallery.mailchimp.com/9ff9178b2b8339402312b19c1/images/434546ae-4f22-4041-b8d8-326192fb568d.png"  style="float:left; padding-right:20px; width:35%; height:auto;" alt="USPS" />
                <b>Hey, {f_name}!</b><br><br>
                <br>
                Just a heads-up to let you know our warehouse staff got your order picked, packed, and <b>shipped</b>.<br><br>
                As of {date_shipped}, your order is on its way via USPS  {order_shipping_type}.<br><br>
                <b>Tracking online:</b> <a href=" https://tools.usps.com/go/TrackConfirmAction_input?qtc_tLabels1={tracking_number}">{tracking_number}</a>
              </p>
          </td>
        </tr>
    </table>
  </td>
</tr>
