<tr>
  <td>
    <table style="width:100%;">
      <tr>
        <td style="vertical-align: middle; text-align:left; font-family:Helvetica,Arial; color:#2C3E50; font-size:17px;">
            <p>
              <img src="https://gallery.mailchimp.com/9ff9178b2b8339402312b19c1/images/6f1d956a-0785-452a-87df-aad57c5e5e05.jpg"  style="float:left; padding-right:20px; width:35%; height:auto;" alt="RMA"  />
              <b>Hey {ship_f_name},</b><br />
              <br>
              Your RMA Invoice number is:<br><br>
              <b>{order_ID}</b><br><br>
              Please note this RMA is <b>only valid for 7 days</b>, so don't delay!<br>
              You'll find detailed instructions for completing the returns process below.
          </p>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: middle; text-align:center; background-color:#f2f2f2; font-family:Helvetica,Arial; color:#2C3E50; font-size:19px; font-weight:bold; padding:12px">
          Returning your order
        </td>
      </tr>
      <tr>
        <td style="padding:5px; vertical-align: middle; text-align:left; font-family:Helvetica,Arial; color:#2C3E50; font-size:15px;">
          <ul>
            <li>Please be sure to securely package the item(s) that you are shipping back. (Damage during return shipping can greatly delay your refund.)</li>
            <li>Please be sure to return each item in its entirety.</li>
            <li>Please ship your return to:</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td style="padding:15px; vertical-align: middle; text-align:left; font-family:Helvetica,Arial; color:#2C3E50; font-size:15px;">
          <b>{stor_name}</b><br>
          <b>RMA# {order_ID}</b><br>
          <b>208 NW 6th Ave</b><br>
          <b>Hallandale Beach FL 33009</b>
        </td>
      </tr>
      <tr>
        <td style=" padding:5px;vertical-align: middle; text-align:left; font-family:Helvetica,Arial; color:#2C3E50; font-size:15px;">
          Here's the full text of our return policy: http://{store_url}/return-policy.html
        </td>
      </tr>
    </table>
  </td>
</tr>
