<tr>
  <td >
    <table style="width:100%;">
        <tr>
            <td style="vertical-align: middle; text-align:left; font-family:Helvetica,Arial; color:#2C3E50; font-size:17px;">
              <p>
               <img src="https://gallery.mailchimp.com/9ff9178b2b8339402312b19c1/images/be635239-130a-402b-804f-bd7b9c807c74.jpg"  style="float:left; padding-right:20px; width:35%; height:auto;" alt="Billing Info" />
                <b>Hey, {f_name}!</b><br><br>
                <br>
                We&#39;ve <strong>updated billing information</strong> associated with your order -- new details below.<br>
                <br>
                Soon as we get your shipment packed up, we&#39;ll send tracking information in a separate email.<br>
                <br><br>
                Thanks for your business!
              </p>
          </td>
        </tr>
        <tr>
          <td style="vertical-align: middle; text-align:center; font-family:Helvetica,Arial; color:#3D9B18; font-size:15px;">
            <h2>Updated Billing Details</h2>
          </td>
        </tr>
    </table>
  </td>
</tr>
