<tr>
  <td>
    <table style="width:100%;">
      <tr>
        <td style="vertical-align: middle; text-align:left; font-family:Helvetica,Arial; color:#2C3E50; font-size:17px;">
            <p>
              <img src="https://gallery.mailchimp.com/9ff9178b2b8339402312b19c1/images/c599bd26-cf68-4623-8332-5107ae18eeb8.jpg"  style="float:left; padding-right:20px; width:35%; height:auto;" alt="Quote Info"  />
              <b>Hi {f_name},</b>
              <br>
              <br>
              Did you receive quote # {order_ID}? Have you had a chance to review it yet?<br>
              <br>
            Here at {store_name}, we pride ourselves on competitive pricing as well as fantastic service. I want to earn your business not just for this quote, but for your future needs as well.
          </p>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td style="vertical-align: middle; text-align:left; font-family:Helvetica,Arial; color:#2C3E50; font-size:15px;">
      Please look over your quote and let me know if you have any questions, or if you require:<br>
    <ul>
      <li>Revisions</li>
      <li>Lay out drawings</li>
      <li>Job-specific drawings</li>
      <li>Submittal data</li>
      <li>Value engineering</li>
    </ul>
    <p>
      Found a <b>better price</b> elsewhere? I'd love the opportunity to review our quote to provide you the best price we can
      -- and address any additional concerns you may have regarding product details, shipping options, or special accommodations.
       Give me a call at  <a href="tel:{rep_phone}" style="text-decoration:none">{rep_phone}</a>
        and I'll see what I can do (you'll never know if you don't ask!)
    </p>
    Here's to a mutually profitable partnership!<br>
    <img src="https://gallery.mailchimp.com/9ff9178b2b8339402312b19c1/images/bfef2679-4f64-4a44-bdd1-9e19218fbe86.jpg" alt="Win-Win Partnership" />
  </td>
</tr>
