<tr>
  <td>
    <table style="width:100%;">
      <tr>
        <td style="vertical-align: middle; text-align:left; font-family:Helvetica,Arial; color:#2C3E50; font-size:17px;">
            <p>
              <img src="https://gallery.mailchimp.com/9ff9178b2b8339402312b19c1/images/c599bd26-cf68-4623-8332-5107ae18eeb8.jpg"  style="float:left; padding-right:20px; width:35%; height:auto;" alt="Quote Info"  />
              <b>Hi {f_name},</b>
              <br>
              <br>
              We're glad you found what you were looking for! Our procurement specialists are sharpening their pencils right now, to get you the best possible price.<br>
              <br>
              We strive to respond to all quote requests within 1 business day. For faster service, or to give us more information, please call <a href="tel:+1(877)509-8040" style="text-decoration:none;">(877) 509-8040</a>.
          </p>
        </td>
      </tr>
    </table>
  </td>
</tr>
