<tr style="font-family:Helvetica,Arial; color:#768A92; font-size:10px; background-color:#FAFAFA; padding-left: 25px;">
  <td style="text-align:center; vertical-align: middle; max-height:30px; padding:5px;" >
      <a target="_blank" href="https://plus.google.com/+Dkhardware"><img style="padding: 10px;  max-height:100%;"  src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-googleplus-48.png" alt="Google" /></a>
      <a target="_blank" href="http://www.facebook.com/pages/DK-Hardware-Supply/205028592858906"><img style="padding: 10px;  max-height:100%;" src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-48.png" alt="Facebook" /></a>
      <a target="_blank" href="http://www.dkhardware.com/"><img style="padding: 10px;  max-height:100%;" src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-link-48.png" alt="Website" /></a>
  </td>
</tr>
<tr>
  <td style="font-family:Helvetica,Arial; color:#768A92; font-size:10px; background-color:#FAFAFA; padding-left: 25px;">
    <b>NOTE:</b> You are receiving this email because you created an account at <a href="www.dkhardware.com" target="_blank" style="color: #1E8BC3;">www.dkhardware.com </a>
     You will continue to receive email updates regarding your account and any orders that you place.
  </td>
</tr>
<tr>
  <td style="font-family:Helvetica,Arial; color:#768A92; font-size:10px; background-color:#FAFAFA; padding-left: 25px;">
    <b>Our mailing address is:</b><br>
    1835 E. Hallandale Beach Blvd <br>
    PMB #264 <br>
    Hallandale, FL 33009<br>
  </td>
</tr>
