<tr>
  <td style="width:100%; background-color:#FAFAFA;">
    <table style="margin-left:auto; margin-right:auto; width:100%; font-family:Helvetica,Arial; color:#768A92; font-size:10px; ">
        <tr>
          <td style="width:50%; text-align:right; padding:20px">
                <a href="http://www.yelp.com/biz/dk-hardware-inc-hallandale" target="_blank"><img src="https://gallery.mailchimp.com/9ff9178b2b8339402312b19c1/images/83269f46-41d7-46bd-90c9-d1d860efcc30.jpg" style="max-width:200px" alt="Help With Yelp!" /></a>
          </td>
          <td style="width:50%; text-align: left;  padding:20px">
            Delighted with our service?<br/>
            Overjoyed with our selection?<br/>
            Maybe you&#39;re just feeling generous?<br/>
            Take a moment and <a href="http://www.yelp.com/biz/dk-hardware-inc-hallandale" target="_blank">review DK on Yelp!</a>
        </td>
        </tr>
    </table>
  </td>
</tr>
