<tr>
    <td>
      <table style="width:100%; border-spacing: 0px">
        <tr>
          <td style="vertical-align: middle; text-align:center; background-color:#f2f2f2; font-family:Helvetica,Arial; color:#2C3E50; font-size:14px; font-weight:bold; padding:12px">
            What's hot at DK Hardware
          </td>
        </tr>
      </table>
    </td>
  </tr>
<tr>
  <td>
    <table style="width:100%; border: 0px solid black;">
      <tr>
        <td style="width:33,33%;">
          <table>
            <tr>
              <td>
                  <a href="http://www.dkhardware.com/storefronts-and-security_ZC3074M0P1.html" target="_blank"><img src="https://gallery.mailchimp.com/9ff9178b2b8339402312b19c1/images/d52de48d-0903-4fcb-bc06-bbf2cf824eb4.png" alt="" /></a>
              </td>
            </tr>
            <tr>
              <td>
                <ul style="list-style-type: none; margin:2px; padding:5px; font-family:Helvetica; font-size:10px; font-weight:bold">
                  <li style="padding:3px;"><a href="http://www.dkhardware.com/deluxe-sliding-windows-and-transaction-hardware_ZC1531M0P1.html" target="_blank" style="color: #1E8BC3;">Sliding transaction windows</a></li>
                  <li style="padding:3px;"><a href="http://www.dkhardware.com/commercial-panic-deadbolt-and-electronic-egress-control-handles_ZC1527M0P1.html" target="_blank" style="color: #1E8BC3;">Egress panic controls</a></li>
                  <li style="padding:3px;"><a href="http://www.dkhardware.com/track-assemblies-transaction-and-commercial-door-hardware_ZC43M0P1.html" target="_blank" style="color: #1E8BC3;">Transaction door hardware</a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td style="vertical-align: middle; text-align:center; background-color:#3498DB; font-family:Helvetica,Arial; color:#ffffff; font-size:14px; font-weight:bold; height:40px">
                <a href="http://www.dkhardware.com/storefronts-and-security_ZC3074M0P1.html" target="_blank" style="text-decoration: none; color:ffffff;">storefronts & security</a>
              </td>
            </tr>
          </table>
        </td>
        <td style="width:33,33%;">
          <table>
            <tr>
              <td>
                  <a href="http://www.dkhardware.com/bathroom_ZC1524M0P1.html" target="_blank"><img src="https://gallery.mailchimp.com/9ff9178b2b8339402312b19c1/images/b2d2f04b-b59c-4cab-8886-98691c3a3d5f.jpg" alt="" /></a>
              </td>
            </tr>
            <tr>
              <td>
                <ul style="list-style-type: none; margin:2px; padding:5px; font-family:Helvetica; font-size:10px; font-weight:bold">
                  <li style="padding:3px;"><a href="http://www.dkhardware.com/shower-door-kits_ZC15M0P1.html" target="_blank" style="color: #1E8BC3;">Shower door kits</a></li>
                  <li style="padding:3px;"><a href="http://www.dkhardware.com/shower-door-wipes-and-seals_ZC17M0P1.html" target="_blank" style="color: #1E8BC3;">Shower door wipes &amp; seals</a></li>
                  <li style="padding:3px;"><a href="http://www.dkhardware.com/shower-door-hinges-hinge-replacement-parts_ZC11M0P1.html" target="_blank" style="color: #1E8BC3;">Shower door hinges &amp; parts</a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td style="vertical-align: middle; text-align:center; background-color:#3498DB; font-family:Helvetica,Arial; color:#ffffff; font-size:14px; font-weight:bold; height:40px">
                <a href="http://www.dkhardware.com/bathroom_ZC1524M0P1.html" target="_blank" style="text-decoration: none; color:ffffff;">shower & bathroom</a>
              </td>
            </tr>
          </table>
        </td>
        <td style="width:33,33%">
          <table>
            <tr>
              <td>
                  <a href="http://www.dkhardware.com/windows-and-doors_ZC3542M0P1.html" target="_blank"><img src="https://gallery.mailchimp.com/9ff9178b2b8339402312b19c1/images/f2b2bf0a-0eb1-4076-a1fc-0d17bdb75269.jpg" alt="" /></a>
              </td>
            </tr>
            <tr>
              <td>
                <ul style="list-style-type: none; margin:2px; padding:5px; font-family:Helvetica; font-size:10px; font-weight:bold">
                  <li style="padding:3px;"><a href="http://www.dkhardware.com/door-and-window-security-hardware_ZC45M0P1.html" target="_blank" style="color: #1E8BC3;">Door window security</a></li>
                  <li style="padding:3px;"><a href="http://www.dkhardware.com/screen-patio-storm-door-and-window-hardware_ZC49M0P1.html" target="_blank" style="color: #1E8BC3;">Screen, patio storm hardware</a></li>
                  <li style="padding:3px;"><a href="http://www.dkhardware.com/astragals-weatherstripping-glazing-vinyls-and-accent-tape_ZC51M0P1.html" target="_blank" style="color: #1E8BC3;">Astragals weatherstripping</a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td style="vertical-align: middle; text-align:center; background-color:#3498DB; font-family:Helvetica,Arial; color:#ffffff; font-size:14px; font-weight:bold; height:40px">
                <a href="http://www.dkhardware.com/windows-and-doors_ZC3542M0P1.html" target="_blank" style="text-decoration: none; color:ffffff;">window & door hardware</a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!--Second Line-->
      <tr>
        <td style="width:33,33%;">
          <table>
            <tr>
              <td>
                  <a href="http://www.dkhardware.com/product-12957-p990ws-clear-co-extruded-bottom-wipe-with-drip-rail-for-3-8-glass.html" target="_blank"><img src="https://gallery.mailchimp.com/9ff9178b2b8339402312b19c1/images/9ce01ac1-ff36-452a-aab3-646f69d17ace.jpg" alt="" /></a>
              </td>
            </tr>
            <tr>
              <td>
                <ul style="list-style-type: none; margin:2px; padding:5px; font-family:Helvetica; font-size:10px; font-weight:bold">
                  <li style="padding:3px;"><a href="http://www.dkhardware.com/construction-sealants-tapes-and-adhesives_ZC22M0P1.html" target="_blank" style="color: #1E8BC3;">Construction sealants & tapes</a></li>
                  <li style="padding:3px;"><a href="http://www.dkhardware.com/tapes-masking-filament-duct-felt-and-safety_ZC38M0P1.html" target="_blank" style="color: #1E8BC3;">Masking, filament, duct tapes</a></li>
                  <li style="padding:3px;"><a href="http://www.dkhardware.com/glass-bonding-system_ZC2702M0P1.html" target="_blank" style="color: #1E8BC3;">Glass bonding systems</a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td style="vertical-align: middle; text-align:center; background-color:#3498DB; font-family:Helvetica,Arial; color:#ffffff; font-size:14px; font-weight:bold; height:40px ">
                <a href="http://www.dkhardware.com/product-12957-p990ws-clear-co-extruded-bottom-wipe-with-drip-rail-for-3-8-glass.html" target="_blank" style="text-decoration: none; color:ffffff;">sealants & fasteners</a>
              </td>
            </tr>
          </table>
        </td>
        <td style="width:33,33%;">
          <table>
            <tr>
              <td>
                  <a href="http://www.dkhardware.com/tools-and-cleaners_ZC1523M0P1.html" target="_blank"><img src="https://gallery.mailchimp.com/9ff9178b2b8339402312b19c1/images/f097e31e-7efe-4dca-a743-1e118e786bd7.jpg" alt="" /></a>
              </td>
            </tr>
            <tr>
              <td>
                <ul style="list-style-type: none; margin:2px; padding:5px; font-family:Helvetica; font-size:10px; font-weight:bold">
                  <li style="padding:3px;"><a href="http://www.dkhardware.com/glass-handling-tools-equipment-and-supplies_ZC31M0P1.html" target="_blank" style="color: #1E8BC3;">Glass handling tools & gear</a></li>
                  <li style="padding:3px;"><a href="http://www.dkhardware.com/cleaning-products-lubricants-supplies_ZC32M0P1.html" target="_blank" style="color: #1E8BC3;">Cleaning products & lubricants</a></li>
                  <li style="padding:3px;"><a href="http://www.dkhardware.com/protective-wear-safety-and-first-aid-supplies_ZC29M0P1.html" target="_blank" style="color: #1E8BC3;">Protective & safety equipment</a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td style="vertical-align: middle; text-align:center; background-color:#3498DB; font-family:Helvetica,Arial; color:#ffffff; font-size:14px; font-weight:bold; height:40px">
                <a href="http://www.dkhardware.com/tools-and-cleaners_ZC1523M0P1.html" target="_blank" style="text-decoration: none; color:ffffff;">glassworking tools & cleaners</a>
              </td>
            </tr>
          </table>
        </td>
        <td style="width:33,33%">
          <table>
            <tr>
              <td>
                  <a href="http://www.dkhardware.com/windows-and-doors_ZC3542M0P1.html" target="_blank"><img src="https://gallery.mailchimp.com/9ff9178b2b8339402312b19c1/images/79167471-065c-45bc-9861-47ef0d39d8a5.jpg" alt="" /></a>
              </td>
            </tr>
            <tr>
              <td>
                <ul style="list-style-type: none; margin:2px; padding:5px; font-family:Helvetica; font-size:10px; font-weight:bold">
                  <li style="padding:3px;"><a href="http://www.dkhardware.com/sprinter-van-windows_ZC2120M0P1.html" target="_blank" style="color: #1E8BC3;">Sprinter van windows</a></li>
                  <li style="padding:3px;"><a href="http://www.dkhardware.com/auto-glass-sealant-installation-tools-and-supplies_ZC2114M0P1.html" target="_blank" style="color: #1E8BC3;">Auto glass installation gear</a></li>
                  <li style="padding:3px;"><a href="http://www.dkhardware.com/auto-glass-sealants-butyls-and-tapes_ZC2113M0P1.html" target="_blank" style="color: #1E8BC3;">Sealants, butyls & tapes</a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td style="vertical-align: middle; text-align:center; background-color:#3498DB; font-family:Helvetica,Arial; color:#ffffff; font-size:14px; font-weight:bold; height:40px">
                <a href="http://www.dkhardware.com/automotive-products-tools-and-supplies_ZC1525M0P1.html" target="_blank" style="text-decoration: none; color:ffffff;">auto glass & installation tools</a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
