<tr>
  <td>
    <table style="width:100%;">
        <tr>
          <td style="text-align:left"><a target="_blank" href="http://www.dkhardware.com/"><img src="https://gallery.mailchimp.com/9ff9178b2b8339402312b19c1/images/e5dc0348-51fa-44ee-9a58-e0e9a6a2a756.png" alt="DKHardware.com" style="font-family:Helvetica; color:black; font-size:30px; font-weight:bold;" /></a></td>
          <td style="text-align:right">
            <span style="font-family:Helvetica; color:#2C3E50; font-size:14px; font-weight:bold">Questions? Call Us</span>
            <br>
            <span style="font-family:Helvetica; font-size:22px; font-style:italic; font-weight:bold"><a style="text-decoration:none; color:#CB4627;" href="tel:877-509-8040">877-509-8040</a></span>
          </td>
        </tr>
    </table>
  </td>
</tr>
