<tr>
    <td  style="vertical-align: middle; text-align:left; font-family:Helvetica,Arial;">
        <h3>Order Details</h3>
        <table style="width:100%; font-size:15px;">
         	<tr style="background-color: #F2F2F2;" >
        			<td style="padding:5px; font-weight: bold; width:40%">Product Manuf Code:</td>
        			<td style="padding:5px;" >{manuf_code}</td>
        		</tr>
        		<tr>
        			<td style="padding:5px; font-weight: bold;">Product Name:</td>
        			<td style="padding:5px;" >{product_name}</td>
        		</tr>
        		<tr style="background-color: #F2F2F2;">
              <td style="padding:5px; font-weight: bold;">Quantaty:</td>
        			<td style="padding:5px;">{qty}</td>
        		</tr>
        		<tr>
        			<td style="padding:5px; font-weight: bold;">Color:</td>
        			<td style="padding:5px;">{color}</td>
        		</tr>
        		<tr style="background-color: #F2F2F2;">
        			<td style="padding:5px; font-weight: bold;">Width:</td>
        			<td style="padding:5px;">{width}</td>
        		</tr>
            <tr>
              <td style="padding:5px; font-weight: bold;">Height</td>
              <td style="padding:5px;">{height}</td>
            </tr>
            <tr style="background-color: #F2F2F2;">
              <td style="padding:5px; font-weight: bold;">Length:</td>
              <td style="padding:5px;">{length}</td>
            </tr>
          </table>
      </td>
  </tr>
  <tr>
    <td style="padding:5px">
      &nbsp;
    </td>
  </tr>
  <tr>
    <td  style="vertical-align: middle; text-align:left; font-family:Helvetica,Arial;">
        <h3>Order Comments</h3><br>
        <table style="width:100%; border: 0px solid black; font-size:15px;">
          <tr>
              <td style="padding-left:20px ">{comments}</td>
          </tr>
        </table>
    </td>
  </tr>
