  <tr>
    <td  style="vertical-align: middle; text-align:center; font-family:Helvetica,Arial; font-size:17px; padding:20px;">
    View your order here: <a itemprop="url" href="http://www.dkhardware.com/receipt.aspx?ID={shopping_cart_ID}"  target="_blank">http://www.dkhardware.com/receipt.aspx?ID={shopping_cart_ID}</a>
    </td>
  </tr>
  <tr>
    <td  style="vertical-align: middle; text-align:left; font-family:Helvetica,Arial; font-size:15px; padding:5px;">
      <p><b>NOTE:</b> If you can&#39;t see the link above, please copy/paste the url address listed above into your browser window to view your complete order.</p>
    </td>
  </tr>
  
