<tr>
  <td style="padding:5px; vertical-align: middle; text-align:left; font-family:Helvetica,Arial; font-size:15px;">
    <b>  Best wishes,</b>
  </td>
</tr>
<tr>
  <td style="vertical-align: middle; text-align:left; font-family:Helvetica,Arial; font-size:15px;">
    <table>
    		<tr>
    			<td style="padding:2px;"> {rep_name}</td>
    		</tr>
        <tr>
    			<td style="padding:2px;"> {rep_title}</td>
    		</tr>
        <tr>
    			<td style="padding:2px;"> {rep_phone}</td>
    		</tr>
    </table>
    <br>
    Team DK<br>
    <a href="http://www.dkhardware.com/">www.dkhardware.com</a>
  </td>
</tr>
<tr>
  <td style="padding:5px">
      &nbsp;
  </td>
</tr>
