<tr>
  <td style="padding:5px; vertical-align: middle; text-align:left; font-family:Helvetica,Arial; font-size:15px;">
    Does something look out of whack? Give our friendly staff a call and we'll get it sorted right out!
  </td>
</tr>
<tr>
  <td style="vertical-align: middle; text-align:left; font-family:Helvetica,Arial; font-size:15px;">
    <table>
    		<tr>
    			<td style="background-color: #F2F2F2; padding:5px; font-weight: bold;">Local:</td>
    			<td style="padding:5px;"> <a href="tel:1-954-556-6667" style="text-decoration: none;">1-954-556-6667</a></td>
    		</tr>
    		<tr>
    			<td style="background-color: #F2F2F2; padding:5px; font-weight: bold;">Toll-free:</td>
    			<td style="padding:5px;"><a href="tel:1-877-509-8040" style="text-decoration: none;">1-877-509-8040</a></td>
    		</tr>
    		<tr>
    			<td style="background-color: #F2F2F2; padding:5px; font-weight: bold;">Email:</td>
    			<td style="padding:5px;"><a href="mailto:sales@dkhardware.com" target="_blank">sales@dkhardware.com</a></td>
    		</tr>
    </table>
    <br>
    <b>We really appreciate your business!</b> Everything we do, all day, every day, is for you.
    <br><br>
    <strong>Thank you,</strong><br />
    Team DK<br />
    <a href="http://www.dkhardware.com/">www.dkhardware.com</a>
  </td>
</tr>
<tr>
  <td style="padding:5px">
      &nbsp;
  </td>
</tr>
