<tr>
  <td>
    <table style="width:100%;">
      <tr>
        <td style="text-align:left;">
            <span style="font-family:Calibri,Arial; font-style:italic; font-size:15px; color:#3D9B18"><b>Shop by category</b></span>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: middle; background-color:#f2f2f2; width:100%;">
          <table style="margin-left:auto; margin-right:auto; width:100%; height:40px; font-family:Helvetica; font-size:13px; font-weight:bold">
            <tr style="vertical-align: middle;">
              <td style="padding:2px; text-align:center;"><a style=" text-decoration: none; color: #2C3E50;" target="_blank" href="http://www.dkhardware.com/architectural-products-and-hardware_ZC1526M0P1.html">Architectural</a></td>
              <td style="padding:5px 2px 0px 2px; text-align:center;"><span style="font-family:Helvetica; color:#CB4627; font-weight:bold">*</span></td>
              <td style="padding:2px; text-align:center;"><a style=" text-decoration: none; color: #2C3E50;" target="_blank" href="http://www.dkhardware.com/automotive-products-tools-and-supplies_ZC1525M0P1.html">Automotive&nbsp;</a></td>
              <td style="padding:5px 2px 0px 2px; text-align:center;"><span style="font-family:Helvetica; color:#CB4627; font-weight:bold">*</span></td>
              <td style="padding:2px; text-align:center;"><a style=" text-decoration: none; color: #2C3E50;" target="_blank" href="http://www.dkhardware.com/windows-and-doors_ZC3542M0P1.html">Windows&nbsp;</a></td>
              <td style="padding:5px 2px 0px 2px; text-align:center;"><span style="font-family:Helvetica; color:#CB4627; font-weight:bold">*</span></td>
              <td style="padding:2px; text-align:center;"><a style=" text-decoration: none; color: #2C3E50;" target="_blank" href="http://www.dkhardware.com/hardware-sealants-and-fasteners_ZC1522M0P1.html">Hardware&nbsp;</a></td>
              <td style="padding:5px 2px 0px 2px; text-align:center;"><span style="font-family:Helvetica; color:#CB4627; font-weight:bold">*</span></td>
              <td style="padding:2px; text-align:center;"><a style=" text-decoration: none; color: #2C3E50;" target="_blank" href="http://www.dkhardware.com/bathroom_ZC1524M0P1.html">Bathroom&nbsp;</a></td>
              <td style="padding:5px 2px 0px 2px; text-align:center;"><span style="font-family:Helvetica; color:#CB4627; font-weight:bold">*</span></td>
              <td style="padding:2px; text-align:center;"><a style=" text-decoration: none; color: #2C3E50;" target="_blank" href="http://www.dkhardware.com/hospitality-and-display_ZC3073M0P1.html">Hospitality&nbsp;</a></td>
              <td style="padding:5px 2px 0px 2px; text-align:center;"><span style="font-family:Helvetica; color:#CB4627; font-weight:bold">*</span></td>
              <td style="padding:2px; text-align:center;"><a style=" text-decoration: none; color: #2C3E50;" target="_blank" href="http://www.dkhardware.com/tools-and-cleaners_ZC1523M0P1.html">Tools&nbsp;</a></td>
              <td style="padding:5px 2px 0px 2px; text-align:center;"><span style="font-family:Helvetica; color:#CB4627; font-weight:bold">*</span></td>
              <td style="padding:2px; text-align:center;"><a style=" text-decoration: none; color: #2C3E50;" target="_blank" href="http://www.dkhardware.com/storefronts-and-security_ZC3074M0P1.html">Security</a></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
