<html><head><title>Templates</title></head><body>
<table style=" width:100%; background-color:#ffffff; border-spacing: 0px;">
  <tr>
    <td >
      <table style="margin-left:auto; margin-right:auto; min-width:470px; max-width:600px; border-spacing: 0px; background-color:#ffffff; ">
<tr><td style="padding:5px; color:#ABB7B7; font-family:Helvetica; font-size:13px;">We have a question about your order -- we need to hear from you!</td></tr><tr>
  <td>
    <table style="width:100%;">
        <tr>
          <td style="text-align:left"><a target="_blank" href="http://www.dkhardware.com/"><img src="https://gallery.mailchimp.com/9ff9178b2b8339402312b19c1/images/e5dc0348-51fa-44ee-9a58-e0e9a6a2a756.png" alt="DKHardware.com" style="font-family:Helvetica; color:black; font-size:30px; font-weight:bold;" /></a></td>
          <td style="text-align:right">
            <span style="font-family:Helvetica; color:#2C3E50; font-size:14px; font-weight:bold">Questions? Call Us</span>
            <br>
            <span style="font-family:Helvetica; font-size:22px; font-style:italic; font-weight:bold"><a style="text-decoration:none; color:#CB4627;" href="tel:877-509-8040">877-509-8040</a></span>
          </td>
        </tr>
    </table>
  </td>
</tr>
<tr>
  <td>
    <table style="width:100%;">
      <tr>
        <td style="text-align:left;">
            <span style="font-family:Calibri,Arial; font-style:italic; font-size:15px; color:#3D9B18"><b>Shop by category</b></span>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: middle; background-color:#f2f2f2; width:100%;">
          <table style="margin-left:auto; margin-right:auto; width:100%; height:40px; font-family:Helvetica; font-size:13px; font-weight:bold">
            <tr style="vertical-align: middle;">
              <td style="padding:2px; text-align:center;"><a style=" text-decoration: none; color: #2C3E50;" target="_blank" href="http://www.dkhardware.com/architectural-products-and-hardware_ZC1526M0P1.html">Architectural</a></td>
              <td style="padding:5px 2px 0px 2px; text-align:center;"><span style="font-family:Helvetica; color:#CB4627; font-weight:bold">*</span></td>
              <td style="padding:2px; text-align:center;"><a style=" text-decoration: none; color: #2C3E50;" target="_blank" href="http://www.dkhardware.com/automotive-products-tools-and-supplies_ZC1525M0P1.html">Automotive&nbsp;</a></td>
              <td style="padding:5px 2px 0px 2px; text-align:center;"><span style="font-family:Helvetica; color:#CB4627; font-weight:bold">*</span></td>
              <td style="padding:2px; text-align:center;"><a style=" text-decoration: none; color: #2C3E50;" target="_blank" href="http://www.dkhardware.com/windows-and-doors_ZC3542M0P1.html">Windows&nbsp;</a></td>
              <td style="padding:5px 2px 0px 2px; text-align:center;"><span style="font-family:Helvetica; color:#CB4627; font-weight:bold">*</span></td>
              <td style="padding:2px; text-align:center;"><a style=" text-decoration: none; color: #2C3E50;" target="_blank" href="http://www.dkhardware.com/hardware-sealants-and-fasteners_ZC1522M0P1.html">Hardware&nbsp;</a></td>
              <td style="padding:5px 2px 0px 2px; text-align:center;"><span style="font-family:Helvetica; color:#CB4627; font-weight:bold">*</span></td>
              <td style="padding:2px; text-align:center;"><a style=" text-decoration: none; color: #2C3E50;" target="_blank" href="http://www.dkhardware.com/bathroom_ZC1524M0P1.html">Bathroom&nbsp;</a></td>
              <td style="padding:5px 2px 0px 2px; text-align:center;"><span style="font-family:Helvetica; color:#CB4627; font-weight:bold">*</span></td>
              <td style="padding:2px; text-align:center;"><a style=" text-decoration: none; color: #2C3E50;" target="_blank" href="http://www.dkhardware.com/hospitality-and-display_ZC3073M0P1.html">Hospitality&nbsp;</a></td>
              <td style="padding:5px 2px 0px 2px; text-align:center;"><span style="font-family:Helvetica; color:#CB4627; font-weight:bold">*</span></td>
              <td style="padding:2px; text-align:center;"><a style=" text-decoration: none; color: #2C3E50;" target="_blank" href="http://www.dkhardware.com/tools-and-cleaners_ZC1523M0P1.html">Tools&nbsp;</a></td>
              <td style="padding:5px 2px 0px 2px; text-align:center;"><span style="font-family:Helvetica; color:#CB4627; font-weight:bold">*</span></td>
              <td style="padding:2px; text-align:center;"><a style=" text-decoration: none; color: #2C3E50;" target="_blank" href="http://www.dkhardware.com/storefronts-and-security_ZC3074M0P1.html">Security</a></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr><td style="padding:5px; color:#ABB7B7; font-family:Helvetica; font-size:13px;">&nbsp;</td></tr><tr>
  <td>
    <table style="width:100%;">
      <tr>
        <td style="vertical-align: middle; text-align:left; font-family:Helvetica,Arial; color:#2C3E50; font-size:17px;">
            <p>
              <img src="https://gallery.mailchimp.com/9ff9178b2b8339402312b19c1/images/5db26daf-b8a8-46d8-a9f4-a64425db6907.jpg"  style="float:left; padding-right:20px; width:35%; height:auto;" alt="Email Info"  />
              <b>Hey!</b>
              <br>
              <br>
              Our mutual friend {from_name} was poking around <a href="http://www.dkhardware.com/" style="text-decoration:none">DK Hardware</a> and found something you might like...<br><br>
              Check it out!<br>
            </p>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td style="vertical-align: middle; text-align:left; font-family:Helvetica,Arial; color:#2C3E50; font-size:15px;">
    <h2>{from_name} recomends:</h2><br>
    <table >
      <tr>
        <td style="padding:10px">
          <img src="http://<store_url>/tools/image-resize.aspx?image={product_image}&width=600" /><br>
            {product_description}
        </td>
      </tr>
      <tr>
        <td style="padding:10px">
          <b>{from_name}</b> also said:<br>
          {message}
        </td>
      </tr>
      <tr>
        <td style="padding:10px">
          Best,<br>
          <b>Team DK</b><br>
          <a href="http://www.dkhardware.com/" style="text-decoration:none">www.dkhardware.com</a><br>
          <a href="tel:1-877-509-8040" style="text-decoration: none;">1-877-509-8040</a>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr><td style="padding:5px; color:#ABB7B7; font-family:Helvetica; font-size:13px;">&nbsp;</td></tr><tr style="font-family:Helvetica,Arial; color:#768A92; font-size:10px; background-color:#FAFAFA; padding-left: 25px;">
  <td style="text-align:center; vertical-align: middle; max-height:30px; padding:5px;" >
      <a target="_blank" href="https://plus.google.com/+Dkhardware"><img style="padding: 10px;  max-height:100%;"  src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-googleplus-48.png" alt="Google" /></a>
      <a target="_blank" href="http://www.facebook.com/pages/DK-Hardware-Supply/205028592858906"><img style="padding: 10px;  max-height:100%;" src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-48.png" alt="Facebook" /></a>
      <a target="_blank" href="http://www.dkhardware.com/"><img style="padding: 10px;  max-height:100%;" src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-link-48.png" alt="Website" /></a>
  </td>
</tr>
<tr>
  <td style="font-family:Helvetica,Arial; color:#768A92; font-size:10px; background-color:#FAFAFA; padding-left: 25px;">
    <b>NOTE:</b> You are receiving this email because you created an account at <a href="www.dkhardware.com" target="_blank" style="color: #1E8BC3;">www.dkhardware.com </a>
     You will continue to receive email updates regarding your account and any orders that you place.
  </td>
</tr>
<tr>
  <td style="font-family:Helvetica,Arial; color:#768A92; font-size:10px; background-color:#FAFAFA; padding-left: 25px;">
    <b>Our mailing address is:</b><br>
    1835 E. Hallandale Beach Blvd <br>
    PMB #264 <br>
    Hallandale, FL 33009<br>
  </td>
</tr>
<tr>
  <td style="text-align:right; font-family:Helvetica,Arial; color:#768A92; font-size:10px; background-color:#FAFAFA; padding-left:25px; padding-right:25px;">
      "If I had nine hours to chop down a tree, I'd spend the first six sharpening my axe." <br>
          - Abraham Lincoln
  </td>
</tr>

      </table>
    </td>
  </tr>
</table>
Done!</body></html>