<html><head><title>Templates</title></head><body>
<table style=" width:100%; background-color:#ffffff; border-spacing: 0px;">
  <tr>
    <td >
      <table style="margin-left:auto; margin-right:auto; min-width:470px; max-width:600px; border-spacing: 0px; background-color:#ffffff; ">
<tr><td style="padding:5px; color:#ABB7B7; font-family:Helvetica; font-size:13px;">Congrats -- you've been adopted into the DK Hardware family!</td></tr><tr>
  <td>
    <table style="width:100%;">
        <tr>
          <td style="text-align:left"><a target="_blank" href="http://www.dkhardware.com/"><img src="https://gallery.mailchimp.com/9ff9178b2b8339402312b19c1/images/e5dc0348-51fa-44ee-9a58-e0e9a6a2a756.png" alt="DKHardware.com" style="font-family:Helvetica; color:black; font-size:30px; font-weight:bold;" /></a></td>
          <td style="text-align:right">
            <span style="font-family:Helvetica; color:#2C3E50; font-size:14px; font-weight:bold">Questions? Call Us</span>
            <br>
            <span style="font-family:Helvetica; font-size:22px; font-style:italic; font-weight:bold"><a style="text-decoration:none; color:#CB4627;" href="tel:877-509-8040">877-509-8040</a></span>
          </td>
        </tr>
    </table>
  </td>
</tr>
<tr><td style="padding:5px; color:#ABB7B7; font-family:Helvetica; font-size:13px;">&nbsp;</td></tr><tr>
    <td>
      <!--Body Start-->
      <table style="width:100%;">
          <tbody><tr>
              <td style="vertical-align: middle; text-align:left; font-family:Helvetica,Arial; color:#2C3E50; font-size:17px;">
                <p>
                  <img src="https://gallery.mailchimp.com/9ff9178b2b8339402312b19c1/images/be635239-130a-402b-804f-bd7b9c807c74.jpg" style="float:left; padding-right:20px; width:35%; height:auto;" alt="All Done! ">
                  <b>Welcome, {f_name}!</b><br><br>Thanks for your order on <a href="http://www.dkhardware.com" target="_blank">DK Hardware</a>. You chose the Guest checkout option, so we went ahead and created a special account <b>just for you.</b><br><br> Here are your credentials:<br><br>
                  <b>Login:</b> {login} <br>
                  <b>Password:</b> {password}
                </p>
            </td>
          </tr>
          <tr>
            <td style="vertical-align: middle; text-align:left; font-family:Helvetica,Arial; color:#2C3E50; font-size:15px;">
              Now you can store payment information, save quotes, easily check your order status -- and MUCH more! <a href="https://www.dkhardware.com/Account/Login/?returnUrl=%2FAccount%2FDashboard%2F" target="_blank">
              Access your account</a> anytime <a href="https://www.dkhardware.com/Account/Login/?returnUrl=%2FAccount%2FDashboard%2F" target="_blank">here</a>.
            </td>
          </tr>
      </tbody></table>
    </td>
<tr><td style="padding:5px; color:#ABB7B7; font-family:Helvetica; font-size:13px;">&nbsp;</td></tr><tr><td style="padding:5px; color:#ABB7B7; font-family:Helvetica; font-size:13px;">&nbsp;</td></tr><tr>
  <td style="width:100%; background-color:#FAFAFA;">
    <table style="margin-left:auto; margin-right:auto; width:100%; font-family:Helvetica,Arial; color:#768A92; font-size:10px; ">
        <tr>
          <td style="width:50%; text-align:right; padding:20px">
                <a href="http://www.yelp.com/biz/dk-hardware-inc-hallandale" target="_blank"><img src="https://gallery.mailchimp.com/9ff9178b2b8339402312b19c1/images/83269f46-41d7-46bd-90c9-d1d860efcc30.jpg" style="max-width:200px" alt="Help With Yelp!" /></a>
          </td>
          <td style="width:50%; text-align: left;  padding:20px">
            Delighted with our service?<br/>
            Overjoyed with our selection?<br/>
            Maybe you&#39;re just feeling generous?<br/>
            Take a moment and <a href="http://www.yelp.com/biz/dk-hardware-inc-hallandale" target="_blank">review DK on Yelp!</a>
        </td>
        </tr>
    </table>
  </td>
</tr>
<tr style="font-family:Helvetica,Arial; color:#768A92; font-size:10px; background-color:#FAFAFA; padding-left: 25px;">
  <td style="text-align:center; vertical-align: middle; max-height:30px; padding:5px;" >
      <a target="_blank" href="https://plus.google.com/+Dkhardware"><img style="padding: 10px;  max-height:100%;"  src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-googleplus-48.png" alt="Google" /></a>
      <a target="_blank" href="http://www.facebook.com/pages/DK-Hardware-Supply/205028592858906"><img style="padding: 10px;  max-height:100%;" src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-48.png" alt="Facebook" /></a>
      <a target="_blank" href="http://www.dkhardware.com/"><img style="padding: 10px;  max-height:100%;" src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-link-48.png" alt="Website" /></a>
  </td>
</tr>
<tr>
  <td style="font-family:Helvetica,Arial; color:#768A92; font-size:10px; background-color:#FAFAFA; padding-left: 25px;">
    <b>NOTE:</b> You are receiving this email because you created an account at <a href="www.dkhardware.com" target="_blank" style="color: #1E8BC3;">www.dkhardware.com </a>
     You will continue to receive email updates regarding your account and any orders that you place.
  </td>
</tr>
<tr>
  <td style="font-family:Helvetica,Arial; color:#768A92; font-size:10px; background-color:#FAFAFA; padding-left: 25px;">
    <b>Our mailing address is:</b><br>
    1835 E. Hallandale Beach Blvd <br>
    PMB #264 <br>
    Hallandale, FL 33009<br>
  </td>
</tr>
<tr>
  <td style="text-align:right; font-family:Helvetica,Arial; color:#768A92; font-size:10px; background-color:#FAFAFA; padding-left:25px; padding-right:25px;">
      "If I had nine hours to chop down a tree, I'd spend the first six sharpening my axe." <br>
          - Abraham Lincoln
  </td>
</tr>

      </table>
    </td>
  </tr>
</table>
Done!</body></html>