<html><head><title>Templates</title></head><body>
<table style=" width:100%; background-color:#ffffff; border-spacing: 0px;">
  <tr>
    <td >
      <table style="margin-left:auto; margin-right:auto; min-width:470px; max-width:600px; border-spacing: 0px; background-color:#ffffff; ">
<tr><td style="padding:5px; color:#ABB7B7; font-family:Helvetica; font-size:13px;">Just wanted to confirm updates to your shipping info...</td></tr><tr>
  <td>
    <table style="width:100%;">
        <tr>
          <td style="text-align:left"><a target="_blank" href="http://www.dkhardware.com/"><img src="https://gallery.mailchimp.com/9ff9178b2b8339402312b19c1/images/e5dc0348-51fa-44ee-9a58-e0e9a6a2a756.png" alt="DKHardware.com" style="font-family:Helvetica; color:black; font-size:30px; font-weight:bold;" /></a></td>
          <td style="text-align:right">
            <span style="font-family:Helvetica; color:#2C3E50; font-size:14px; font-weight:bold">Questions? Call Us</span>
            <br>
            <span style="font-family:Helvetica; font-size:22px; font-style:italic; font-weight:bold"><a style="text-decoration:none; color:#CB4627;" href="tel:877-509-8040">877-509-8040</a></span>
          </td>
        </tr>
    </table>
  </td>
</tr>
<tr>
  <td>
    <table style="width:100%;">
      <tr>
        <td style="text-align:left;">
            <span style="font-family:Calibri,Arial; font-style:italic; font-size:15px; color:#3D9B18"><b>Shop by category</b></span>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: middle; background-color:#f2f2f2; width:100%;">
          <table style="margin-left:auto; margin-right:auto; width:100%; height:40px; font-family:Helvetica; font-size:13px; font-weight:bold">
            <tr style="vertical-align: middle;">
              <td style="padding:2px; text-align:center;"><a style=" text-decoration: none; color: #2C3E50;" target="_blank" href="http://www.dkhardware.com/architectural-products-and-hardware_ZC1526M0P1.html">Architectural</a></td>
              <td style="padding:5px 2px 0px 2px; text-align:center;"><span style="font-family:Helvetica; color:#CB4627; font-weight:bold">*</span></td>
              <td style="padding:2px; text-align:center;"><a style=" text-decoration: none; color: #2C3E50;" target="_blank" href="http://www.dkhardware.com/automotive-products-tools-and-supplies_ZC1525M0P1.html">Automotive&nbsp;</a></td>
              <td style="padding:5px 2px 0px 2px; text-align:center;"><span style="font-family:Helvetica; color:#CB4627; font-weight:bold">*</span></td>
              <td style="padding:2px; text-align:center;"><a style=" text-decoration: none; color: #2C3E50;" target="_blank" href="http://www.dkhardware.com/windows-and-doors_ZC3542M0P1.html">Windows&nbsp;</a></td>
              <td style="padding:5px 2px 0px 2px; text-align:center;"><span style="font-family:Helvetica; color:#CB4627; font-weight:bold">*</span></td>
              <td style="padding:2px; text-align:center;"><a style=" text-decoration: none; color: #2C3E50;" target="_blank" href="http://www.dkhardware.com/hardware-sealants-and-fasteners_ZC1522M0P1.html">Hardware&nbsp;</a></td>
              <td style="padding:5px 2px 0px 2px; text-align:center;"><span style="font-family:Helvetica; color:#CB4627; font-weight:bold">*</span></td>
              <td style="padding:2px; text-align:center;"><a style=" text-decoration: none; color: #2C3E50;" target="_blank" href="http://www.dkhardware.com/bathroom_ZC1524M0P1.html">Bathroom&nbsp;</a></td>
              <td style="padding:5px 2px 0px 2px; text-align:center;"><span style="font-family:Helvetica; color:#CB4627; font-weight:bold">*</span></td>
              <td style="padding:2px; text-align:center;"><a style=" text-decoration: none; color: #2C3E50;" target="_blank" href="http://www.dkhardware.com/hospitality-and-display_ZC3073M0P1.html">Hospitality&nbsp;</a></td>
              <td style="padding:5px 2px 0px 2px; text-align:center;"><span style="font-family:Helvetica; color:#CB4627; font-weight:bold">*</span></td>
              <td style="padding:2px; text-align:center;"><a style=" text-decoration: none; color: #2C3E50;" target="_blank" href="http://www.dkhardware.com/tools-and-cleaners_ZC1523M0P1.html">Tools&nbsp;</a></td>
              <td style="padding:5px 2px 0px 2px; text-align:center;"><span style="font-family:Helvetica; color:#CB4627; font-weight:bold">*</span></td>
              <td style="padding:2px; text-align:center;"><a style=" text-decoration: none; color: #2C3E50;" target="_blank" href="http://www.dkhardware.com/storefronts-and-security_ZC3074M0P1.html">Security</a></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr><td style="padding:5px; color:#ABB7B7; font-family:Helvetica; font-size:13px;">&nbsp;</td></tr><tr>
  <td >
    <table style="width:100%;">
        <tr>
            <td style="vertical-align: middle; text-align:left; font-family:Helvetica,Arial; color:#2C3E50; font-size:17px;">
              <p>
               <img src="https://gallery.mailchimp.com/9ff9178b2b8339402312b19c1/images/be635239-130a-402b-804f-bd7b9c807c74.jpg"  style="float:left; padding-right:20px; width:35%; height:auto;" alt="Shipping Info" />
                <b>Hey, {f_name}!</b><br><br>
                <br>
                We&#39;ve <strong>updated shipping information</strong> associated with your order -- new details below.<br>
                <br>
                Soon as we get your shipment packed up, we&#39;ll send tracking information in a separate email.<br>
                <br><br>
                Thanks for your business!
              </p>
          </td>
        </tr>
        <tr>
          <td style="vertical-align: middle; text-align:center; font-family:Helvetica,Arial; color:#3D9B18; font-size:15px;">
            <h2>Updated Shipping Details</h2>
          </td>
        </tr>
    </table>
  </td>
</tr>
<tr>
    <td style="vertical-align: middle; text-align:left; font-family:Helvetica,Arial;">
      <h3>Shipping Info</h3>
        <table style=" width:100%; font-size:15px;">
           <tr style="background-color: #F2F2F2;" itemscope itemtype="http://schema.org/ParcelDelivery">
              <td style="padding:5px; font-weight: bold; width:40%">Shipping type:</td>
              <td style="padding:5px;">{order_shipping_type}</td>
            </tr>
            <tr>
              <td style="padding:5px; font-weight: bold;">Name:</td>
              <td style="padding:5px;">{ship_f_name} {ship_l_name}</td>
            </tr>
            <tr style="background-color: #F2F2F2;">
              <td style="padding:5px; font-weight: bold;">Company:</td>
              <td style="padding:5px;" >{ship_company}</td>
            </tr>
            <tr>
              <td style="padding:5px; font-weight: bold;" itemprop="deliveryAddress" itemscope itemtype="http://schema.org/PostalAddress">Address 1:</td>
              <td style="padding:5px;" itemprop="streetAddress">{ship_address1}</td>
            </tr>
            <tr style="background-color: #F2F2F2;">
              <td style="padding:5px; font-weight: bold;">Address 2:</td>
              <td style="padding:5px;">{ship_address2}</td>
            </tr>
            <tr>
              <td style="padding:5px; font-weight: bold;">City:</td>
              <td style="padding:5px;"  itemprop="addressLocality">{ship_city}</td>
            </tr>
            <tr style="background-color: #F2F2F2;">
              <td style="padding:5px; font-weight: bold;">State/Province/Region:</td>
              <td style="padding:5px;" itemprop="addressRegion">{ship_state}</td>

            </tr>
            <tr>
              <td style="padding:5px; font-weight: bold;">Zip/Postal Code:</td>
              <td style="padding:5px;" itemprop="postalCode">{ship_zip}</td>
            </tr>
            <tr style="background-color: #F2F2F2;">
              <td style="padding:5px; font-weight: bold;">Country:</td>
              <td style="padding:5px;" itemprop="addressCountry">{ship_country}</td>
            </tr>
            <tr>
              <td style="padding:5px; font-weight: bold;">Phone:</td>
              <td style="padding:5px;">{ship_phone}</td>
            </tr>
            <tr style="background-color: #F2F2F2;">
              <td style="padding:5px; font-weight: bold;">Alt. Phone:</td>
              <td style="padding:5px;">{ship_alt_phone}</td>
            </tr>
        </table>
    </td>
</tr>
<tr><td style="padding:5px; color:#ABB7B7; font-family:Helvetica; font-size:13px;">&nbsp;</td></tr>  <tr>
    <td style="vertical-align: middle; text-align:center; font-family:Helvetica,Arial; color:#3D9B18; font-size:15px;">
      <h2>Order Details</h2>
    </td>
  </tr>
  <tr>
    <td  style="vertical-align: middle; text-align:left; font-family:Helvetica,Arial;">
      <p>{products_list}</p>
      <br/>
    </td>
  </tr>
<tr><td style="padding:5px; color:#ABB7B7; font-family:Helvetica; font-size:13px;">&nbsp;</td></tr><tr>
  <td style="padding:5px; vertical-align: middle; text-align:left; font-family:Helvetica,Arial; font-size:15px;">
      Questions? Concerns? High-fives? Give our friendly staff a call!
  </td>
</tr>
<tr>
  <td style="vertical-align: middle; text-align:left; font-family:Helvetica,Arial; font-size:15px;">
    <table style="border-collapse: collapse;">
    		<tr>
    			<td style="background-color: #F2F2F2; padding:5px; font-weight: bold;">Local:</td>
    			<td style="padding:5px;"> <a href="tel:1-954-556-6667" style="text-decoration: none;">1-954-556-6667</a></td>
    		</tr>
    		<tr>
    			<td style="background-color: #F2F2F2; padding:5px; font-weight: bold;">Toll-free:</td>
    			<td style="padding:5px;"><a href="tel:1-877-509-8040" style="text-decoration: none;">1-877-509-8040</a></td>
    		</tr>
    		<tr>
    			<td style="background-color: #F2F2F2; padding:5px; font-weight: bold;">Email:</td>
    			<td style="padding:5px;"><a href="mailto:sales@dkhardware.com" target="_blank">sales@dkhardware.com</a></td>
    		</tr>
    </table>
    <br>
    <strong>Thank you,</strong><br />
    Team DK<br />
    <a href="http://www.dkhardware.com/">www.dkhardware.com</a>
  </td>
</tr>
<tr>
  <td style="padding:5px">
      &nbsp;
  </td>
</tr>
<tr>
    <td>
      <table style="width:100%; border-spacing: 0px;">
        <tr>
          <td style="vertical-align: middle; text-align:center; background-color:#f2f2f2; font-family:Helvetica,Arial; color:#2C3E50; font-size:14px; font-weight:bold; padding:12px">
            What's hot at DK Hardware
          </td>
        </tr>
      </table>
    </td>
  </tr>
<tr>
  <td>
    <table style="width:100%; border: 0px solid black;">
      <tr>
        <td style="width:33,33%;">
          <table style="margin-left:auto; margin-right:auto;">
            <tr>
              <td>
                  <a href="http://www.dkhardware.com/storefronts-and-security_ZC3074M0P1.html" target="_blank"><img src="https://gallery.mailchimp.com/9ff9178b2b8339402312b19c1/images/d52de48d-0903-4fcb-bc06-bbf2cf824eb4.png" alt="" /></a>
              </td>
            </tr>
            <tr>
              <td>
                <table style="list-style-type: none; margin:2px; padding:5px; font-family:Helvetica; font-size:10px; font-weight:bold">
                  <tr><td style="padding:3px;"><a href="http://www.dkhardware.com/deluxe-sliding-windows-and-transaction-hardware_ZC1531M0P1.html" target="_blank" style="color: #1E8BC3;">Sliding transaction windows</a></td></tr>
                  <tr><td style="padding:3px;"><a href="http://www.dkhardware.com/commercial-panic-deadbolt-and-electronic-egress-control-handles_ZC1527M0P1.html" target="_blank" style="color: #1E8BC3;">Egress panic controls</a></td></tr>
                  <tr><td style="padding:3px;"><a href="http://www.dkhardware.com/track-assemblies-transaction-and-commercial-door-hardware_ZC43M0P1.html" target="_blank" style="color: #1E8BC3;">Transaction door hardware</a></td></tr>
                </table>
              </td>
            </tr>
            <tr>
              <td style="padding:5px; vertical-align: middle; text-align:center; background-color:#3498DB; font-family:Helvetica,Arial; color:#ffffff; font-size:14px; font-weight:bold; height:40px">
                <a style=" text-decoration: none; color: #ffffff;" href="http://www.dkhardware.com/storefronts-and-security_ZC3074M0P1.html" target="_blank">storefronts & security</a>
              </td>
            </tr>
          </table>
        </td>
        <td style="width:33,33%;">
          <table style="margin-left:auto; margin-right:auto;">
            <tr>
              <td>
                  <a href="http://www.dkhardware.com/bathroom_ZC1524M0P1.html" target="_blank"><img src="https://gallery.mailchimp.com/9ff9178b2b8339402312b19c1/images/b2d2f04b-b59c-4cab-8886-98691c3a3d5f.jpg" alt="" /></a>
              </td>
            </tr>
            <tr>
              <td>
                <table style="list-style-type: none; margin:2px; padding:5px; font-family:Helvetica; font-size:10px; font-weight:bold">
                  <tr><td style="padding:3px;"><a href="http://www.dkhardware.com/shower-door-kits_ZC15M0P1.html" target="_blank" style="color: #1E8BC3;">Shower door kits</a></td></tr>
                  <tr><td style="padding:3px;"><a href="http://www.dkhardware.com/shower-door-wipes-and-seals_ZC17M0P1.html" target="_blank" style="color: #1E8BC3;">Shower door wipes &amp; seals</a></td></tr>
                  <tr><td style="padding:3px;"><a href="http://www.dkhardware.com/shower-door-hinges-hinge-replacement-parts_ZC11M0P1.html" target="_blank" style="color: #1E8BC3;">Shower door hinges &amp; parts</a></td></tr>
                </table>
              </td>
            </tr>
            <tr>
              <td style="padding:5px; vertical-align: middle; text-align:center; background-color:#3498DB; font-family:Helvetica,Arial; color:#ffffff; font-size:14px; font-weight:bold; height:40px">
                <a style=" text-decoration: none; color: #ffffff;" href="http://www.dkhardware.com/bathroom_ZC1524M0P1.html" target="_blank" >shower & bathroom</a>
              </td>
            </tr>
          </table>
        </td>
        <td style="width:33,33%">
          <table style="margin-left:auto; margin-right:auto;">
            <tr>
              <td>
                  <a href="http://www.dkhardware.com/windows-and-doors_ZC3542M0P1.html" target="_blank"><img src="https://gallery.mailchimp.com/9ff9178b2b8339402312b19c1/images/f2b2bf0a-0eb1-4076-a1fc-0d17bdb75269.jpg" alt="" /></a>
              </td>
            </tr>
            <tr>
              <td>
                <table style="list-style-type: none; margin:2px; padding:5px; font-family:Helvetica; font-size:10px; font-weight:bold">
                  <tr><td style="padding:3px;"><a href="http://www.dkhardware.com/door-and-window-security-hardware_ZC45M0P1.html" target="_blank" style="color: #1E8BC3;">Door window security</a></td></tr>
                  <tr><td style="padding:3px;"><a href="http://www.dkhardware.com/screen-patio-storm-door-and-window-hardware_ZC49M0P1.html" target="_blank" style="color: #1E8BC3;">Screen, patio storm hardware</a></td></tr>
                  <tr><td style="padding:3px;"><a href="http://www.dkhardware.com/astragals-weatherstripping-glazing-vinyls-and-accent-tape_ZC51M0P1.html" target="_blank" style="color: #1E8BC3;">Astragals weatherstripping</a></td></tr>
                </table>
              </td>
            </tr>
            <tr>
              <td style=" padding:5px; vertical-align: middle; text-align:center; background-color:#3498DB; font-family:Helvetica,Arial; color:#ffffff; font-size:14px; font-weight:bold; height:40px">
                <a style=" text-decoration: none; color: #ffffff;" href="http://www.dkhardware.com/windows-and-doors_ZC3542M0P1.html" target="_blank" >window & door hardware</a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!--Second Line-->
      <tr>
        <td style="width:33,33%;">
          <table style="margin-left:auto; margin-right:auto;">
            <tr>
              <td>
                  <a href="http://www.dkhardware.com/product-12957-p990ws-clear-co-extruded-bottom-wipe-with-drip-rail-for-3-8-glass.html" target="_blank"><img src="https://gallery.mailchimp.com/9ff9178b2b8339402312b19c1/images/9ce01ac1-ff36-452a-aab3-646f69d17ace.jpg" alt="" /></a>
              </td>
            </tr>
            <tr>
              <td>
                <table style="list-style-type: none; margin:2px; padding:5px; font-family:Helvetica; font-size:10px; font-weight:bold">
                  <tr><td style="padding:3px;"><a href="http://www.dkhardware.com/construction-sealants-tapes-and-adhesives_ZC22M0P1.html" target="_blank" style="color: #1E8BC3;">Construction sealants & tapes</a></td></tr>
                  <tr><td style="padding:3px;"><a href="http://www.dkhardware.com/tapes-masking-filament-duct-felt-and-safety_ZC38M0P1.html" target="_blank" style="color: #1E8BC3;">Masking, filament, duct tapes</a></td></tr>
                  <tr><td style="padding:3px;"><a href="http://www.dkhardware.com/glass-bonding-system_ZC2702M0P1.html" target="_blank" style="color: #1E8BC3;">Glass bonding systems</a></td></tr>
                </table>
              </td>
            </tr>
            <tr>
              <td style="padding:5px; vertical-align: middle; text-align:center; background-color:#3498DB; font-family:Helvetica,Arial; color:#ffffff; font-size:14px; font-weight:bold; height:40px ">
                <a style=" text-decoration: none; color: #ffffff;" href="http://www.dkhardware.com/product-12957-p990ws-clear-co-extruded-bottom-wipe-with-drip-rail-for-3-8-glass.html" target="_blank" >sealants & fasteners</a>
              </td>
            </tr>
          </table>
        </td>
        <td style="width:33,33%;">
          <table style="margin-left:auto; margin-right:auto;">
            <tr>
              <td>
                  <a href="http://www.dkhardware.com/tools-and-cleaners_ZC1523M0P1.html" target="_blank"><img src="https://gallery.mailchimp.com/9ff9178b2b8339402312b19c1/images/f097e31e-7efe-4dca-a743-1e118e786bd7.jpg" alt="" /></a>
              </td>
            </tr>
            <tr>
              <td>
                <table style="list-style-type: none; margin:2px; padding:5px; font-family:Helvetica; font-size:10px; font-weight:bold">
                  <tr><td style="padding:3px;"><a href="http://www.dkhardware.com/glass-handling-tools-equipment-and-supplies_ZC31M0P1.html" target="_blank" style="color: #1E8BC3;">Glass handling tools & gear</a></td></tr>
                  <tr><td style="padding:3px;"><a href="http://www.dkhardware.com/cleaning-products-lubricants-supplies_ZC32M0P1.html" target="_blank" style="color: #1E8BC3;">Cleaning products & lubricants</a></td></tr>
                  <tr><td style="padding:3px;"><a href="http://www.dkhardware.com/protective-wear-safety-and-first-aid-supplies_ZC29M0P1.html" target="_blank" style="color: #1E8BC3;">Protective & safety equipment</a></td></tr>
                </table>
              </td>
            </tr>
            <tr>
              <td style="padding:5px; vertical-align: middle; text-align:center; background-color:#3498DB; font-family:Helvetica,Arial; color:#ffffff; font-size:14px; font-weight:bold; height:40px">
                <a style=" text-decoration: none; color: #ffffff;" href="http://www.dkhardware.com/tools-and-cleaners_ZC1523M0P1.html" target="_blank" >glassworking tools & cleaners</a>
              </td>
            </tr>
          </table>
        </td>
        <td style="width:33,33%">
          <table style="margin-left:auto; margin-right:auto;">
            <tr>
              <td>
                  <a href="http://www.dkhardware.com/windows-and-doors_ZC3542M0P1.html" target="_blank"><img src="https://gallery.mailchimp.com/9ff9178b2b8339402312b19c1/images/79167471-065c-45bc-9861-47ef0d39d8a5.jpg" alt="" /></a>
              </td>
            </tr>
            <tr>
              <td>
                <table style="list-style-type: none; margin:2px; padding:5px; font-family:Helvetica; font-size:10px; font-weight:bold">
                  <tr><td style="padding:3px;"><a href="http://www.dkhardware.com/sprinter-van-windows_ZC2120M0P1.html" target="_blank" style="color: #1E8BC3;">Sprinter van windows</a></td></tr>
                  <tr><td style="padding:3px;"><a href="http://www.dkhardware.com/auto-glass-sealant-installation-tools-and-supplies_ZC2114M0P1.html" target="_blank" style="color: #1E8BC3;">Auto glass installation gear</a></td></tr>
                  <tr><td style="padding:3px;"><a href="http://www.dkhardware.com/auto-glass-sealants-butyls-and-tapes_ZC2113M0P1.html" target="_blank" style="color: #1E8BC3;">Sealants, butyls & tapes</a></td></tr>
                </table>
              </td>
            </tr>
            <tr>
              <td style="padding:5px; vertical-align: middle; text-align:center; background-color:#3498DB; font-family:Helvetica,Arial; color:#ffffff; font-size:14px; font-weight:bold; height:40px">
                <a style=" text-decoration: none; color: #ffffff;" href="http://www.dkhardware.com/automotive-products-tools-and-supplies_ZC1525M0P1.html" target="_blank">auto glass & installation tools</a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr style="font-family:Helvetica,Arial; color:#768A92; font-size:10px; background-color:#FAFAFA; padding-left: 25px;">
  <td style="text-align:center; vertical-align: middle; max-height:30px; padding:5px;" >
      <a target="_blank" href="https://plus.google.com/+Dkhardware"><img style="padding: 10px;  max-height:100%;"  src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-googleplus-48.png" alt="Google" /></a>
      <a target="_blank" href="http://www.facebook.com/pages/DK-Hardware-Supply/205028592858906"><img style="padding: 10px;  max-height:100%;" src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-48.png" alt="Facebook" /></a>
      <a target="_blank" href="http://www.dkhardware.com/"><img style="padding: 10px;  max-height:100%;" src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-link-48.png" alt="Website" /></a>
  </td>
</tr>
<tr>
  <td style="font-family:Helvetica,Arial; color:#768A92; font-size:10px; background-color:#FAFAFA; padding-left: 25px;">
    <b>NOTE:</b> You are receiving this email because you created an account at <a href="www.dkhardware.com" target="_blank" style="color: #1E8BC3;">www.dkhardware.com </a>
     You will continue to receive email updates regarding your account and any orders that you place.
  </td>
</tr>
<tr>
  <td style="font-family:Helvetica,Arial; color:#768A92; font-size:10px; background-color:#FAFAFA; padding-left: 25px;">
    <b>Our mailing address is:</b><br>
    1835 E. Hallandale Beach Blvd <br>
    PMB #264 <br>
    Hallandale, FL 33009<br>
  </td>
</tr>
<tr>
  <td style="text-align:right; font-family:Helvetica,Arial; color:#768A92; font-size:10px; background-color:#FAFAFA; padding-left:25px; padding-right:25px;">
      "If I had nine hours to chop down a tree, I'd spend the first six sharpening my axe." <br>
          - Abraham Lincoln
  </td>
</tr>

      </table>
    </td>
  </tr>
</table>
Done!</body></html>